<!doctype html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initialscale=1">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/quiz.css" rel="stylesheet">
<title>Cantwell's quizes</title></head>
<body></body>
<h1>Välkommen till quiz 1!</h1>
<h1>{{ quiz.name }}</h1>
	<p>{{ quiz.description }}</p>
<div class="bild1"><img src="/static/bild2.jpg">
<div class="container">
	<div class="row">
		<div class="col-md-12 column2"><br>Lycka till med att svara på frågorna. <br>Det går inte på tid så stressa inte!</div>
		</div>
		</div>
		<a href="question.html"> <br>Klicka här för att komma till quizet!</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body></html>