<!doctype html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initialscale=1">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/quiz.css" rel="stylesheet">
<title>Cantwell's quizes</title>
</head>
<body>
<h1>Vilket quiz passar dig bäst?</h1>
<h2></h2>
{% for quiz in quizzes %}
    <p><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
    </a></p>
{% endfor %}
<div class="container">
	<div class="row">
	<div class="col-md-12"><span class="rubrik"><a href="quiz.html" class="button">Kattquizet!</span></a><br>


  <span class="undertext"><br><br><br></span>

  <span class="rubrik"><a href="quiz.html" class="button">Kattquizet!</span></a><br>
  

  <span class="undertext"><br><br><br></span>

  <span class="rubrik"><a href="quiz.html" class="button" class="button2">Kattquizet!</span></a><br>

  <span class="undertext"><br><br><br></span></div>

	</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body></html>