<!doctype html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initialscale=1">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/quiz.css" rel="stylesheet">
<title>Cantwell's quizes</title>
</head>
<body>
<div class="header">
<h1>Hanna Cantwell<br><br></h1>
<h2>Universum, haven eller Tellus?<br></h2>
<div class="bild1"></div>
{% for quiz in quizzes %}
        
    </a></p>
{% endfor %}
<div class="container">
	<div class="row">
	<div class="col-md-12">
{% for quiz in quizzes %}
  <span class="rubrik"><a href="{% url 'quiz_page' quiz.quiz_number %}" class="button">{{ quiz.name }}</span></a>

{% endfor %}


	</div>
	</div

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body></html>