<!doctype html>
<html>
<head>
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initialscale=1">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/quiz.css" rel="stylesheet">
<title>Cantwell's quizes</title>
</head>
<body>
<h1>Vilket quiz passar dig bäst? </h1>
{% for quiz in quizzes %}
    <p><a href="{% url 'quiz_page' quiz.quiz_number %}">
        {{ quiz.name }}
    </a></p>
{% endfor %}
<div class="container">
	<div class="row">
	<div class="col-md-8" quizlista><ul>
  <li><span class="rubrik"><a href="quiz.html">Quiz 1</span><br>
  <span class="undertext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br></span></li>
  <li><span class="rubrik"><a href="quiz.html">Quiz 2<br></span><span class="undertext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span><br><br></li>
  <li><span class="rubrik"><a href="quiz.html">Quiz 3<br></span><span class="undertext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br></span></li>
</ul></div>
	<div class="col-md-4 column2"><img src="/static/barcelona1.jpg"></div>
	<div class="col-md-12 footer"></div>
	</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body></html>